.row
  .span4.offset4
    %h1 Foodface
    %p Track the food that goes into your face.

    = form_for @new_food do |f|
      = f.label :name
      = f.text_field :name
      = f.label :calories
      = f.text_field :calories
      = f.submit "Save"

    %table.table.table-striped
      %caption
        %h4
          Total today:
          = @foods.inject(0){|sum,f| sum + f.calories}
      %thead
        %tr
          %th Food
          %th Calories
      %tbody
        - for food in @foods
          %tr
            %td= food.name
            %td= food.calories