%h1 Foodface
%p Track the food that goes into your face.


= form_for @new_food do |f|
  = f.label :name
  = f.text_field :name
  = f.label :calories
  = f.text_field :calories
  = f.submit "Save"


%table
  %tr
    %th Food
    %th Calories
  - for food in @foods
    %tr
      %td= food.name
      %td= food.calories