.row
  .span4.offset4
    = form_for @new_food, :html => { :class => "form-inline"} do |f|
      = f.text_field :name, :class => "input-medium", :placeholder => "Food"
      = f.text_field :calories, :class => "input-mini", :placeholder => "Calories"
      = f.submit "Save"

    %table.table.table-striped
      %caption
        %h4
          Total today:
          = @foods.sum(&:calories)
      %thead
        %tr
          %th Food
          %th Calories
      %tbody
        - for food in @foods
          %tr
            %td= food.name
            %td= food.calories
  .span8.offset2
    #container{:style => "min-width: 600px; height: 200px; margin: 0 auto"}
