.row
  .span4.offset4
    %table.table.table-striped
      %caption
        %h3.weight-total
          = "#{@weight.try(:weight)} lb"
        %h4.calorie-total
          Total today:
          = "#{@foods.sum(&:calories)} cals"
      %thead
        %tr
          %th Food
          %th Calories
      %tbody
        - for food in @foods
          %tr
            %td= food.name
            %td= food.calories
